body {
    background: rgb(194, 142, 243);
}

.grid {
    display: grid;
    width: 350px;
    margin: 150px auto;
    grid-template-areas:
        'display display display display'
        'clear clear clear division'
        'seven eight nine multiplication'
        'four five six suptaction'
        'one two three plus'
        'zero zero zero equal';
    grid-gap: 2px;
}

.grid button {
    border-radius: 5px;
}

.display {
    grid-area: display;
}

.grid button {
    padding: 8px 0;
}

.grid input {
    padding: 10px;
    border-radius: 5px;  
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.zero {
    grid-area: zero;
}

.plus {
    grid-area: plus;
}

.suptaction {
    grid-area: suptaction;
}

.multiplication {
    grid-area: multiplication;
}

.equal {
    grid-area: equal;
}

.clear {
    grid-area: clear; 
}

.division {
    grid-area: division;
}